.carousel{
  width: 500px;
  height: 300px;
  /* 让元素保持在一行 */
  white-space: nowrap;
  overflow: hidden;
  /* 不参与layout计算 */
  outLine: 1px solid blue;
  /* zoom: 0.4 */
}
.carousel img{
  width: 500px;
  height: 300px;
  display: inline-block;
  /* transition: transform ease 0.5s; */
}
*{
  font-size: 12px;
}